
@font-face {
  font-family: 'SF UI Text';
  font-weight: regular;
  src: url('/fonts/SF-UI-Text/regular/SF-UI-Text-Regular.eot');
  src: url('/fonts/SF-UI-Text/regular/SF-UI-Text-Regular.eot?#iefix')
  format('embedded-opentype'),
  url('/fonts/SF-UI-Text/regular/SF-UI-Text-Regular.woff') format('woff'),
  url('/fonts/SF-UI-Text/regular/SF-UI-Text-Regular.ttf') format('truetype'),
  url('/fonts/SF-UI-Text/regular/SF-UI-Text-Regular.svg#9fef9c1e9495539ae44b9413de12d80c')
  format('svg');
  }

  @font-face {
  font-family: 'SF UI Text';
  font-weight: 600;
  src: url('/fonts/SF-UI-Text/semibold/SF-UI-Text-Semibold.eot');
  src: url('/fonts/SF-UI-Text/semibold/SF-UI-Text-Semibold.eot?#iefix')
  format('embedded-opentype'),
  url('/fonts/SF-UI-Text/semibold/SF-UI-Text-Semibold.woff') format('woff'),
  url('/fonts/SF-UI-Text/semibold/SF-UI-Text-Semibold.ttf') format('truetype'),
  url('/fonts/SF-UI-Text/semibold/SF-UI-Text-Semibold.svg#e94601dcad73f6dc7b5cc6eac8aff4e6')
  format('svg');
  }
  
  @font-face {
  font-family: 'SF UI Text';
  font-weight: bold;
  src: url('/fonts/SF-UI-Text/bold/SF-UI-Text-Bold.eot');
  src: url('/fonts/SF-UI-Text/bold/SF-UI-Text-Bold.eot?#iefix')
  format('embedded-opentype'),
  url('/fonts/SF-UI-Text/bold/SF-UI-Text-Bold.woff') format('woff'),
  url('/fonts/SF-UI-Text/bold/SF-UI-Text-Bold.ttf') format('truetype'),
  url('/fonts/SF-UI-Text/bold/SF-UI-Text-Bold.svg#40e9150b3ba5ada93f6fa4bd60b1042f')
  format('svg');
  }

  :root{
    --primary-color: #0c77bf;
  }

.berri_zerrenda img{width:100%; height:auto;}

.berri_zerrenda li{
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 30px;
}

.berri_zerrenda li .title{
font-family: 'oscine', sans-serif;
color:--primary-color;
}